body{
    background-color: #fba8a4;
background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%);
}
.heading{
    margin: 0px;
    box-shadow: 3px 3px 3px grey;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    font-family: cursive;
}
.note{
    color: black;
}
.copy_right_footer{
    text-align: center;
    width: 100%;
    line-height: 3;
    bottom: 0;
    background-color: grey;
    color: white;
    position: fixed;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
}